.school-homepage {
  background-image: url('/src/TheSchoolApp/assets/schoolCamp2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: yellow;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.school-footer {
  background-color: #333;
  color: yellow;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
}

.homepage-card,
.login-col {
  background-color: rgba(51, 51, 51, .9);
  color: yellow;
  text-align: center;
  padding: 20px;
  border-radius: 2px;
  margin: 8%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.homepage-button {
  background-color: yellow;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-top: 10px;
}

.homepage-button:hover {
  background-color: #333;
  color: yellow;
}

.homepage-intro {
  text-align: center;
  font-weight: bold;
  font-size: 1em;
}

.school-logo {
  height: 2em;
  width: 2em;
}

.homepage-button:focus {
  outline: none;
}

.homepage-card button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1rem;
}

hr {
  border-color: white;
}

.return-link {
  color: yellow;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-weight: bold;
  padding: 5px;
  background-color: #333;
  width: fit-content;
}

.return-link:hover {
  text-decoration: underline;
  color: yellow;
  background-color: rgba(51, 51, 51, .8);
}

.message-col {
  background-color: #333;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: fit-content;
  margin-top: 20px;
  padding: .1em 1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}



.login-col {
  background-color: #333;
  color: yellow;
  border-radius: 8px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.syn-input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid yellow;
  border-radius: 4px;
  background-color: transparent;
  color: yellow;
  text-align: center;
  box-sizing: border-box;
}

.syn-button {
  background-color: yellow;
  color: #333;
  border: none;
  border-radius: 4px;
  padding: .3em .4em;
  margin: .3em;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.syn-button:hover {
  color: yellow;
  background-color: #222;
}

.syn-input::placeholder {
  color: yellow;
}

.login-btn:focus {
  outline: none;
}

.guest-intro-col {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.heading-col h3 {
  background-color: #333;
  color: yellow;
  padding: .2em 3em;
  width: fit-content;
}

.moduleDataHeadings {
  background-color: #333;
  color: yellow;
  padding: .2em 3em;
  width: fit-content;
}

.user-intro-col h5 {
  background-color: #333;
  color: yellow;
  padding: .2em 1em;
  width: fit-content;
}

.table-col table {
  background-color: rgb(51, 51, 51);
  color: yellow;
  padding: .4em .6em;
  border-color: yellow;
  border-color: yellow;
}

.calendar-col button {
  color: yellow;
}


.navigation-col .tutorButton {
  background-color: rgb(51, 51, 51);
  color: yellow;
  border: none;
  border-radius: 2px;
  padding: 1em 2em;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  height: 8em;
  width: 15em;
  font-weight: 700;
  font-size: 1em;
}

.tutorButton:hover {
  background-color: rgba(250, 250, 13, .7);
  color: #333;
}

.signout-Btn,
.module-link {
  background-color: transparent;
  color: rgba(250, 250, 13, .7);
  border: none;
  text-decoration: none;
}

.module-link:hover {
  color: rgba(250, 250, 13, .7);
  text-decoration: underline;
}

.cancel-button {
  background-color: rgb(250, 53, 53);
  border-radius: 3px;
  color: white;
  border: none;
  margin: .4em .5em;
  padding: .3em 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.cancel-button:hover {
  background-color: #f00;
}

.save-button {
  background-color: green;
  border-radius: 3px;
  color: white;
  border: none;
  margin: .4em .5em;
  padding: .3em 20px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.save-button:hover {
  background-color: rgb(4, 108, 4);
}

.syn-input {
  border: 1px solid yellow;
  border-radius: 2px;
  background-color: transparent;
  color: yellow;
  text-align: center;
  width: auto;
  height: 2em;
  margin: .3em;
}

.announcement-col {
  background-color: #333;
  padding: 1em;
}

.anouncementInput {
  height: 7em;
  color: yellow;
  width: 100%;
  border: 1px solid yellow;
  border-radius: 2px;
  background-color: transparent;
}

.anouncementtitleInput {
  color: yellow;
  border-color: yellow;
  border-radius: 2px;
  background-color: transparent;
  text-align: center;
  margin: .5em;
}

.anouncementInput::placeholder,
.anouncementtitleInput::placeholder {
  color: yellow;
  font-weight: 100;
}

.message-row .visible {
  opacity: 1;
  transition: 500ms ease-in-out;
}

.message-row .hidden {
  opacity: 0;
  transition: 500ms ease-in-out;
}