.display {
  background-image: url('/src/TheSchoolApp/assets/schoolCamp2.jpg');
  background-position: center;
  background-size: cover;
  font-size: 17px;
}

.homepage {
  background-color: black;
  color: goldenrod;
}

.logo {
  color: rgba(180, 245, 17, 0.975);
  font-weight: bold;
}

.btn {
  background-color: black;
  color: goldenrod;
  border-radius: 0%;
}

.btn:hover {
  background-color: rgb(32, 32, 32);
  color: goldenrod;
  transition: 1s;
  opacity: unset;
  border: 1px solid gray;
}

.adminCol {
  height: 20em;
  background-position: center;
  background-size: cover;
}

.btnNav {
  color: goldenrod;
  background-color: black;
  height: 7em;
}

.btnNav:hover {
  box-shadow: inset 0em -0.1em rgb(76, 171, 3);
  font-weight: bold;
  transition: 10ms;
}

.questInp {
  width: 90%;
}